header {
    background: linear-gradient(to bottom right, #195fd4, #4a8dfb);
    padding: 10px;
    margin-top: 0;
    width: 99%;
    height: 100px;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
}

.navbar-image {
    display: none;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-content {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

.menu-item-logo {
    width: 180px;
    flex: 1;
    margin-right: 20px;
}

.menu-item-logo-href {
    color: #fdd501;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.menu-item-logo-href:hover {
    cursor: pointer;
}

.menu-item {
    flex: 1;
    flex-basis: 20px;
    margin-left: 5px;
    list-style-type: none;
    text-align: center;
    max-width: 200px;
}

@media (max-width: 1250px) {
    .navbar-image {
        display: flex;
        margin-top: 20px;
        margin-right: 40px;
    }

    .navbar-content {
        display: none;
        z-index: 1;
    }

    .navbar-content:hover, .navbar-image:hover + .navbar-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: auto;
        left: 65%;
        top: 50px;
    }

    .navbar-content .menu-item {
        border: solid 1px white;
        background: #4a8dfb;
        max-width: 100%;
        margin-left: 0;
        width: 30%;
        flex-basis: 50px;
        /*padding-bottom: 30px;*/
        padding: 0;
        display: flex;
    }

    .menu-item .menu-item-href {
        font-size: 18px;
        position: static;
        display: block;
        margin: 0;
        line-height: 50px;
        height: 50px;
        width: 100%;
        top: 0;
    }

    .menu-item:hover {
        background-color: #fada59;
        color: white;
        cursor: pointer;
    }

    .menu-item:hover .menu-item-href {
        color: white;
        cursor: pointer;
    }

    .navbar-content .menu-item.logout:hover {
        background-color: white;
    }

    .navbar-content .menu-item.logout form {
        width: 100%;
    }

    .navbar-content .menu-item.logout {
        justify-content: center;
        margin-left: 0;
        padding: 0;
        max-height: 50px;
    }

    .menu-item.logout .menu-item-img {
        position: relative;
        top: -45px;
    }

    .navbar-content .menu-item-button {
        border: none;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 50px;
    }

    .navbar-content .menu-item-button:hover {
        box-shadow: none;
    }

    .navbar-content .notifications-container:hover {
        background: white;
    }

    .navbar-content .notification-button {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .navbar-content .notification-list {
        color: black;
        max-width: 50%;
    }
}

@media (max-width: 950px) {
    .navbar-content:hover, .navbar-image:hover + .navbar-content {
        left: 35%;
    }

    .navbar-content .menu-item {
        width: 50%;
    }
}

@media (max-width: 350px) {
    .navbar .menu-item-logo-href {
        display: none;
    }

    .navbar-content:hover, .navbar-image:hover + .navbar-content {
        left: -10%;
    }

    .navbar-content .menu-item {
        width: 80%;
    }
}

.logout {
    margin-left: auto;
    flex: 1;
}

.menu-item-href {
    color: #ffe136;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    visibility: hidden;
    position: relative;
    top: 20px;
}

.menu-item-active.menu-item-href {
    visibility: visible;
}

.menu-item-button {
    z-index: 1;
    position: relative;
    top: 5px;
    left: 30px;
    height: 38px;
    width: 25px;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    border: 0 solid transparent;
    background: transparent;
    border-radius: 2px;
    text-align: center;
}

.menu-item-img {
    position: relative;
    top: 17px;
    left: -7px;
}

.menu-item-active:hover {
    color: #ffffff;
    text-shadow: whitesmoke 1px 0 2px;
    cursor: pointer;
}

.menu-item-button:hover {
    box-shadow: 0 0 5px 1px white;
    cursor: pointer;
}

.logo-image {
    margin-top: 8px;
}

.notifications-container {
    margin-left: auto;
    max-width: 50px;
}

.notification-button {
    height: 50px;
    width: 50px;
    background: url('../images/bell-icon.png') 0 0 no-repeat;
    position: relative;
    top: 15px;
    left: 0;
}

.notification-counter {
    height: 18px;
    width: 20px;
    background: #fb2a79;
    border-radius: 100%;
    position: relative;
    top: 25px;
    left: 35px;
    color: whitesmoke;
    font-size: 14px;
    display:flex;
    justify-content: center;
    padding-top: 2px
}

.notification-counter:empty {
    display: none;
}

.notification-list {
    display: none;
}

.notification-list div {
    flex: 1;
    padding: 30px;
}

.notification-list div i {
    font-size: 10px;
    color: #bbbbbb;
}

.notification-list div:hover {
    background: whitesmoke;
}

.notification-button:hover + .notification-list, .notification-list:hover {
    z-index: 1;
    display:flex;
    flex-direction: column;
    position: absolute;
    background: white;
    cursor: pointer;
    max-height: 300px;
    overflow-y: scroll;
}