body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    overflow-x: hidden;
    background: #fafafa;
}
h3{
    font-size: 15px;
}
h2{
    padding: 10px;
}
.main-field{
    display: flex;
    height: 100%;
}
.employee-card{
    margin: 10px;
    width: 300px;
    background-color: white;
}
.employee-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my-profile{
    border: 1px solid white;
    padding: 0 10px 10px;
    background-color: white;
    border-radius: 5px;
}
.my-profile img {
    border-radius: 100%;
}
.work-skills{
    border: 1px solid white;
    padding: 0 10px 10px;
    background-color: white;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 10px;
}
.contacts-info{
    border: 1px solid white;
    padding: 0 10px 10px;
    background-color: white;
    border-radius: 5px;
    vertical-align: top;
    margin-top: 10px;
    flex: 1;
}
.contacts-info-item {
    display: flex;
    flex-flow: wrap row;
    height: 40px;
}
.contacts-info-item p {
    flex: 1;
}
.contacts-info-item a {
    text-decoration: none;
    color: #195fd4;
}
.contacts-info-item a:visited {
    color: #195fd4;
}
.contacts-info-item a:hover {
    color: #fada59;
}
.contacts-info-item img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 8px;
    right: 3px;
}
.reviews{
    border: 1px solid white;
    padding: 0 10px 10px;
    background-color: white;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 10px;
}
.button-profile{
    display:flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    padding: 5px;
    white-space: nowrap;
    font-size: 12px;
    position: relative;
    bottom: 0;
    text-align: center;
}

.basic-button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 2px;
    border-radius: 10px;
    border: 0 solid;
    outline: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #195fd4
}

.basic-button img {
    position: relative;
    top: 10px;
}

.basic-button:hover {
    background-color: #fada59;
    border-color: #fada59;
    box-shadow: 0 0 1px 2px #fce0ae;
    cursor: pointer;
}
/*.basic-button.edit-button {
    background-image: url("/static/images/edit-icon.png");
}
.basic-button.delete-button {
    background-image: url("/static/images/delete-icon.png");
}*/
.workspace-tasks{
    margin: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 85vh;
}
.refresh-block{
    flex-grow: 1;
}
.refresh-button{
    float: left;
    border-radius: 100%;
    margin: 20px 20px 0 20px;
}
.refresh-button img {
    position: relative;
    top: 2px;
}
.task-block-list-container {
    width: 100%;
    flex-grow: 30;
    overflow-y: scroll;
}
.task-block-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.task-block-list li {
    flex: 0 0 33.333333%;
}
.page-numbers{
    flex: 1;
    padding: 10px;
    margin: auto auto 15px auto;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
}
.page-numbers a,
.page-numbers span{
    display:inline-block;
    min-width: 10px;
    height: 30px;
    padding:0 10px;
    background:white;
    color:black;
    text-decoration:none;
    line-height: 30px;
    border-radius: 45px;
    border: 2px solid #71C2FF;
}
.page-numbers .prev{
    margin-right: 20px;
}
.page-numbers .next{
    margin-left: 20px;
}

.popup-layout {
    z-index: 10;
    position:absolute;
    width: 99.9%;
    height: 100%;
    display: flex;
}

.person-popup {
    background: rgba(189, 189, 189, 0.5);
}

.popup-container {
    position: fixed;
    flex: 1;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    height: 70%;
    border-radius: 12px;
    background: whitesmoke;
    box-shadow: 2px 2px 5px 2px #898989;
}

.popup-container .popup-content {
    width: 95%;
    display: flex;
    flex-flow: wrap column;
    height: 90%;
}

.popup-buttons {
    margin-top: auto;

}

.search-tools-container {
    height: 60px;
    background-color: #eeeeee;
    display: flex;
}

.tool-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-tool {
    flex: 2;
}

.search-form {
    margin-top: 5px;
    width: 90%;
}

.search-form-input {
    height: 30px;
    width: 85%;
}

.search-btn {
    color: transparent;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    background-image: url("../images/search-icon.png");
}

.extended-search-anchor {
    padding-top: 20px;
    color: black;
}

.sort-tool {
    padding-top: 10px;
    color: transparent;
}

.sort-select {
    height: 20px;
    margin-top: 10px;
}

.sort-tool .sort-direction-btn {
    border-radius: 100%;
    margin: 5px 10px;
    height: 30px;
    width: 30px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #195fd4;
    background-image: url("../images/arrow-down.png");
}

.sort-tool .sort-direction-btn.direction-up {
    background-image: url("../images/arrowup.png");
}

.sort-tool .sort-direction-btn:hover {
    cursor: pointer;
}

.disabled {
    display: none !important;
}

.inactivated {
    background-color: #d2d2d2 !important;
    border-color: #d2d2d2 !important;
    box-shadow: none !important;
    outline: none !important;
}