<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!--<div th:fragment="variative-lightbox(employeeCard, editProfileForm, employeeButtonHref, editButtonId)">-->
  <div th:fragment="variative-lightbox(editProfileForm, editId)">
    <div th:if="${editProfileForm}" class="lightbox" th:id="${editId}">
      <figure>
        <a href="#" class="close"></a>
        <div th:replace="fragments/profile-edit.html :: edit-form(isWorker=true)"></div>
      </figure>
    </div>

    <div class="lightbox" id="example2">
      <figure>
        <a href="#" class="close"></a>
        <figcaption></figcaption>
      </figure>
    </div>
  </div>
</body>
</html>