<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!--<div th:fragment="variative-lightbox(employeeCard, editProfileForm, employeeButtonHref, editButtonId)">-->
  <div th:fragment="variative-lightbox(worker, editProfileForm)">
    <div th:if="${editProfileForm}" class="lightbox" th:id="edit-profile">
      <figure>
        <a href="#" class="close"></a>
        <div th:replace="fragments/profile-edit.html :: edit-form(isWorker=worker)"></div>
      </figure>
    </div>
    <div th:if="${editProfileForm}" class="lightbox" th:id="delete-profile">
      <figure>
        <a href="#" class="close"></a>
        <div th:replace="fragments/profile-delete.html :: profile-delete-popup"></div>
      </figure>
    </div>

    <!--<div th:if="" class="lightbox" th:id="">
      <figure>
        <a href="#" class="close"></a>
        <div th:replace=""></div>
      </figure>
    </div>-->
  </div>
</body>
</html>