<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="search-fragment(block)" class="search-tools-container">
  <div class="tool-container search-tool">
    <div class="search-form">
      <input type="search" class="search-form-input" id="search-input" placeholder="Поиск...">
      <div class="basic-button search-btn" id="search-btn"></div>
    </div>
  </div>
  <div class="tool-container extended-search-tool">
    <a class="extended-search-anchor" href="#extended-search-block">Расширенный поиск...</a>
  </div>
  <div class="tool-container sort-tool">
    <select name="sort-select" class="sort-select" id="sort-select-input">
      <option disabled>Сортировать по</option>
      <option th:if="${block == 'task-pool'}" selected value="deadline">срокам</option>
      <option th:if="${block == 'task-pool'}" value="creationTime">времени создания</option>
      <option th:if="${block == 'invites'}" selected value="creationTime">времени создания</option>
      <option th:if="${block == 'invites'}" value="accepted">принятиям/отказам</option>
      <option th:if="${block == 'invites'}" value="checked">просмотренным/непросмотренным</option>
      <option th:if="${block == 'responses'}" selected value="creationTime">времени создания</option>
      <option th:if="${block == 'responses'}" value="checked">просмотренным/непросмотренным</option>
      <option th:if="${block == 'workers'}" selected value="statistics.points">рейтингу</option>
      <option th:if="${block == 'workers'}" value="statistics.done">выполненным задачам</option>
      <option th:if="${block == 'workers'}" value="age">возрасту</option>
      <option th:if="${block == 'workers'}" value="name">имени</option>
    </select>
    <div class="sort-direction-btn" id="sort-direction-btn">
    </div>
  </div>
</div>
</body>
</html>