<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="worker-statistics-inline-container">
  <div class="stars">
    <span class="star rate100"></span>
  </div>
  <div class="star-rating">
    0.0
  </div>
  <div class="success-scale"></div>
  <div class="success-rate-container">
    <div class=success-rate-success>
      0
    </div>
    <div class=success-rate-slash>
      /
    </div>
    <div class=success-rate-fail>
      0
    </div>
  </div>
</div>
</body>
</html>