<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
  <title th:text="${title + ' | TODO'}">Ошибка! | TODO</title>
  <link rel="stylesheet" th:href="@{/static/css/error.css}">
  <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon">
</head>
<body th:classappend="${errorClass}">
<div class="error-container" th:classappend="${errorClass}">
  <div class="error-block">
    <div class="error-message-container">
      <h1 class="error-header" th:text="${header}">
        Ошибка
      </h1>
      <p class="error-message" th:text="${message}">
        Что-то пошло не так!
      </p>
    </div>
    <div class="error-buttons-container">
      <a th:if="${errorClass != 'blocked' && errorClass != 'deleted'}" class="error-btn go-home" id="error-ok" href="./">Домой</a>
      <button th:if="${errorClass == 'deleted'}" class="error-btn restore" id="restore-profile">Восстановить</button>
    </div>
  </div>
</div>
<script th:if="${errorClass == 'deleted'}" src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script th:if="${errorClass == 'deleted'}" src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script th:if="${errorClass == 'deleted'}" type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script th:if="${errorClass == 'deleted'}" type="text/javascript" th:src="@{/static/js/restore-profile.js}"></script>
</body>
</html>