<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
  <title>Ошибка! | TODO</title>
  <link rel="stylesheet" th:href="@{/static/css/invite.css}">
  <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="invite-container">
  <div class="invite-block" th:classappend="${isError} ? error : warning">
    <div class="invite-message-container">
      <h1 class="invite-header" th:text="${header}">
        Ошибка
      </h1>
      <p class="invite-message" th:text="${message}">
        Что-то пошло не так!
      </p>
    </div>
    <div class="invite-buttons-container">
      <button class="btn-ok" id="error-ok">OK</button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script type="text/javascript" th:src="@{/static/js/invite.js}"></script>
</body>
</html>