<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>Отклики | TODO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.component.css}">
    <link rel="stylesheet" th:href="@{/static/css/bottomless-stack.css}">
    <link rel="stylesheet" th:href="@{/static/css/responses.css}">
    <link rel="stylesheet" th:href="@{/static/css/footer.css}">
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon">
</head>
<body>
<div th:replace="fragments/header.html :: header(role=${userRole}, isSupervisor=${supervisor}, main=false)"></div>
<div class="responses-container">
    <div th:replace="fragments/search-fragment.html :: search-fragment(block='responses')"></div>
    <div th:replace="fragments/bottomless-stack.html :: bottomless-stack"></div>
</div>
<div th:replace="fragments/footer.html :: common-footer"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script type="text/javascript" th:src="@{/static/js/search.js}"></script>
</body>
</html>