<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>Мой профиль | TODO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/worker.component.css}">
    <link rel="stylesheet" th:href="@{/static/css/task.container.css}">
    <link rel="stylesheet" th:href="@{/static/css/lightbox.css}">
    <link rel="stylesheet" th:href="@{/static/css/profile.edit.css}">
    <link rel="stylesheet" th:href="@{/static/css/footer.css}">
</head>
<body>
    <div th:replace="fragments/person.popup.html :: person-popup(isWorker=true)"></div>
    <div th:replace="fragments/lightbox.html :: variative-lightbox(worker=true, editProfileForm=true)"></div>
    <div th:replace="fragments/header.html :: header(role='WORKER', isSupervisor=false)"></div>
    <div class="main-field">
        <div class="employee-card">
            <div th:replace="fragments/employee-card.html :: employee-card(isWorker=true)"></div>
            <div class="button-profile">
                <a class="basic-button edit-button" id="edit-profile-button" href="#edit-profile"><img src="" th:src="@{/static/images/edit-icon.png}" alt="Edit"></a>
                <a class="basic-button delete-button" id="delete-profile-button" href="#delete-profile"><img src="" th:src="@{/static/images/delete-icon.png}" alt="Delete"></a>
            </div>
        </div>

        <div class="workspace-tasks">
            <div class="refresh-block">
                <button class="basic-button refresh-button" id="refresh-button"><img src="" th:src="@{/static/images/round-arrow.png}" alt="Обновить"></button>
            </div>
            <div class="task-block-list-container">
                <ul class="task-block-list" id="task-block-list">
                </ul>
            </div>
            <div class="page-numbers">
                <a href="#prev" class="prev">Назад</a>
                <a href="#example1">1</a>
                <span>&hellip;</span>
                <a href="#3">3</a>
                <a href="#next" class="next">Вперёд</a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.html :: common-footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" th:src="@{/static/js/worker.profile.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/editworkerprofile.js}"></script>
</body>
</html>