<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль | TODO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/worker.component.css}">
    <link rel="stylesheet" th:href="@{/static/css/task.container.css}">
</head>
<body>
    <div th:replace="fragments/header.html :: header(firstHref='ЗАКАЗЫ', secondHref='ОТДЕЛЫ', isAdmin=false)"></div>
    <div class="main-field">
        <div class="employee-card">
            <div class="my-profile">
                <h3>Личная информация</h3>
                <img src="img/user.jpg" th:src="@{/static/images/user.jpg}" width="80" height="80" alt="Иванов Иван">
                <p id="profile-name"></p>
                <p id="profile-age"></p>

            </div>
            <div class="work-skills">
                <h3>Ключевые навыки</h3>
                <p id="work-skills-info"></p>
            </div>
            <div class="contacts-info">
                <h3>Контакты</h3>
                <p id="contacts-email"><img src="img/icons-mail.png" th:src="@{/static/images/icons-mail.png}" alt="mail"> </p>
                <p id="contacts-telegram"><img src="img/icons-telegram.svg" th:src="@{/static/images/icons-telegram.svg}" alt="telegram"></p>
            </div>
            <div class="button-profile">
                <a href="#button-1" class="button-1">Редактировать профиль</a>
                <a href="#button-2" class="button-2">Удалить профиль</a>
            </div>
        </div>

        <div class="workspace-tasks">
            <div class="refresh-block">
                <button class="refresh-button" id="refresh-button">Обновить</button>
            </div>
            <div class="task-block-list-container">
                <ul class="task-block-list" id="task-block-list">
                </ul>
            </div>
            <div class="page-numbers">
                <a href="#prev" class="prev">Назад</a>
                <a href="#1">1</a>
                <span>&hellip;</span>
                <a href="#3">3</a>
                <a href="#next" class="next">Вперёд</a>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" th:src="@{/static/js/worker.profile.js}"></script>
</body>
</html>